@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import "tailwindcss";

:root {
  --primary: #6366f1;
  --bg-primary: #0f172a;
  --container-bg: #060e20;
  --element-bg: #1f2b49;
  --element-bg-hover: #293963;
  --secondary-dark: #a855f7;
  --tertiary-dark: #10b981;
  --neon-Blue: #04d9ff;
  --box-bg: #141c2f; /* for now this is in button of login*/
  --text-secondary: #8d94ad;
  --input-box: #192540;
  --button: #242f4a;
}
body {
  color: white;
}

.nav-link {
  cursor: pointer;
  font-size: 0.875rem;
  font-family: "Inter", sans-serif;
}

.nav-link:hover {
  color: var(--primary);
}

.icon:hover {
  color: var(--primary);
}
.dash-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
  cursor: pointer;
  padding-left: 1rem;
}
/* .dash-link:hover {
  background-color: var(--element-bg-hover);
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  border-right:;
} */
.active {
  background-color: var(--element-bg-hover);
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  border-left: 3px solid var(--neon-Blue);
}

.input-box {
  padding: 1rem;
  background-color: var(--input-box);
  border-radius: 0.5rem;
  outline: none;
}
.input-box:focus {
  background-color: var(--element-bg-hover);
}
.check-box {
  border: none;
  background-color: var(--input-box);
}
.check-box:hover {
  border: none;
  background-color: var(--input-box);
}

.footer-link:hover {
  text-decoration: underline;
  color: var(--primary);
}
